<div id="<%= dom_id reportage %>">
  <p>
    <strong>Title:</strong>
    <%= reportage.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= reportage.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reportage.user_id %>
  </p>

</div>
