<h1>Editing reportage</h1>

<%= render "form", reportage: @reportage %>

<br>

<div>
  <%= link_to "Show this reportage", @reportage %> |
  <%= link_to "Back to reportages", reportages_path %>
</div>
