<section class="my-5" id="title">
  <div class="p-5 text-center carrot">
    <div class="container py-5">
      <h1 class="text-body-emphasis">A propos de la Radio T&eacute;l&eacute; Patriarche</h1>
      <p class="col-lg-8 mx-auto lead">
        Pellentesque habitant morbi tristique senectus et netus et malesuada
      </p>
      <p>
        Occaecat ut excepteur ea occaecat. Proident occaecat velit magna velit nulla aliqua eiusmod cillum sit do exercitation. Eiusmod nulla sunt nisi exercitation et laborum et sint ut laborum ipsum non.
      </p>
    </div>
  </div>
</section>
<section class="container my-5" id="credo">
  <div class="p-5 text-center rounded-3">
    <h1 class="text-body-emphasis">Radio T&eacute;l&eacute; Patriarche</h1>
    <div class="row">
      <article class="col">
        <h2>Nos valeurs</h2>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
      </article>
      <article class="col">
        <h2>Notre mission</h2>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
      </article>
    </div>
  </div>
</section>
<section id="about-team" class="container-fluid pumkin my-5">
  <h1 class="center">Votre &eacute;quipe</h1>
  <p class="lead center">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
  <div id="meet-the-team " class="row py-3">
    <div class="col-md-3 col-xs-6 ">
      <div class="center">
        <p>
          <%= image_tag("team-member-female.jpg", class: "img-responsive img-thumbnail img-circle", alt: "team member name" )%>
        </p>
        <h5>madame Alexandrine <br>
          <small class="designation muted">Senior Vice President</small></h5>
        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
        <a class="btn btn-social btn-facebook" href="#"><i class="bi bi-facebook"></i></a>
        <a class="btn btn-social btn-instagram" href="#">
          <i class="bi bi-instagram"></i></a>
        <a class="btn btn-social btn-twitter" href="#"><i class="bi bi-twitter-x"></i></a>
        <a class="btn btn-social btn-linkedin" href="#"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
    <div class="col-md-3 col-xs-6">
      <div class="center">
        <p>
          <%= image_tag("team-member.jpg", class: "img-responsive img-thumbnail img-circle", alt: "team member name" )%>
        </p>
        <h5>Me Zabelbok Berachat<br>
          <small class="designation muted">Senior Vice President</small></h5>
        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
        <a class="btn btn-social btn-facebook" href="#">
          <i class="bi bi-facebook"></i>
        </a>
        <a class="btn btn-social btn-instagram" href="#"><i class="bi bi-instagram"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="bi bi-twitter-x"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
    <div class="col-md-3 col-xs-6">
      <div class="center">
        <p>
          <%= image_tag("team-member-female.jpg", class: "img-responsive img-thumbnail img-circle", alt: "team member name" )%>
        </p>
        <h5>Madame Chantoutou <br>
          <small class="designation muted">Senior Vice President</small></h5>
        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
        <a class="btn btn-social btn-facebook" href="#">
          <i class="bi bi-facebook"></i></a>
        <a class="btn btn-social btn-instagram" href="#">
          <i class="bi bi-instagram"></i>
        </a> <a class="btn btn-social btn-twitter" href="#"><i class="bi bi-twitter-x"></i></a> <a class="btn btn-social btn-linkedin" href="#">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-xs-6">
      <div class="center">
        <p>
          <%= image_tag("team-member.jpg", class: "img-responsive img-thumbnail img-circle", alt: "team member name" )%>
        </p>
        <h5>Monsieur Loktama<br>
          <small class="designation muted">Senior Vice President</small></h5>
        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
        <a class="btn btn-social btn-facebook" href="#"><i class="bi bi-facebook"></i></a> <a class="btn btn-social btn-instagram" href="#"><i class="bi bi-instagram"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="bi bi-twitter-x"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </div>
</section>
