<section class="container-fluid col-xxl-8 px-4 py-5 mt-5 align-items-center home-sections" style="background-color: orange; background-image: url(<%= image_path "splash.png"%>);
background-repeat: no-repeat; background-position: center center; background-size: cover; background-blend-mode: multiply;" id="home-hero">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6 me-auto align-items-center">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Radio T&eacute;l&eacute; Patriarche</h1>
      <p class="lead">Que l&apos;&eacute;motion soit!</p>
      <div class="d-grid gap-4 d-md-flex justify-content-md-start">
        <button type="button" class="button-89">
          Nos emissions
        </button>
        <button class="button-89">
          En savoir plus&nbsp;...
        </button>
      </div>
    </div>
  </div>
</div>
</section>
<div class="divider-b"></div>
<section class="bg-dark text-secondary px-4 py-5 text-center home-sections" id="home-direct">
  <div class="py-3 w-100">
    <h1 class="display-5 fw-bold text-white">T&eacute;l&eacute; Patriarche en directe!</h1>
    <div class="col-lg-8 mx-auto">
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" 
            src="https://www.youtube.com/embed/NiRIbKwAejk?si=aVXDKGhjpyTntmSI" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            title="Live news"
            allowfullscreen
          >
        </iframe>
      </div>
    </div>
  </div>
</section>
<div class="divider-b"></div>
<section class="bg-dark text-secondary px-4 py-5 text-center home-sections" id="home-about">
  <div class="py-5 thediv bended-shadow content">
    <h1 class="display-5 fw-bold text-black">Radio T&eacute;l&eacute; Patriarche</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">
        Pellentesque habitant morbi tristique senectus et netus et malesuada
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="button-55">En savoir plus ...</button>
        <button type="button" class="button-55">Notre &eacute;quipe</button>
      </div>
    </div>
  </div>
</section>
<div class="divider-b"></div>
<section class="container-fluid px-2 home-sections">
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" id="home-carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>-->
        <%= image_tag("emission.jpg", alt: "emission", class: "bd-placeholder-img w-100 h-100" ) %>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Emission headline</h1>
            <p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">En saavoir plus ...</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>-->
        <%= image_tag("emission2.jpg", alt: "emission", class: "bd-placeholder-img w-100 h-100" ) %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Emission headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">En savoir plus ...</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>-->
        <%= image_tag("emission.jpg", alt: "emission", class: "bd-placeholder-img w-100 h-100" ) %>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Emission headline.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">En savoir plus ...</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
