<section class="container-fluid col-xxl-8 px-4 py-5 mt-5 align-items-center border border-danger home-section" style="background-color: orange; background-image: url(<%= image_path "splash.webp"%>);
background-repeat: no-repeat; background-position: center center; background-size: cover; background-blend-mode: multiply;" id="home-hero">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6 me-auto border border-danger align-items-center">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Radio T&eacute;l&eacute; Patriarche</h1>
      <p class="lead">Que l&apos;&eacute;motion soit!</p>
      <div class="d-grid gap-4 d-md-flex justify-content-md-start">
        <button type="button" class="button-89">
          Nos emissions
        </button>
        <button class="button-89">
          En savoir plus&nbsp;...
        </button>
      </div>
    </div>
  </div>
</div>
</section>
<div class="container-fluid" id="home-view">
  <div class="row" id="home-direct" >
    <div class="my-5" id="home-direct-section">
      <div class="p-5 text-center">
        <div class="container py-5">
          <div class="row">
            <div class="col-lg-4">
              <h2>En directe</h2>
              <h3>Au coeur de l'action</h3>
            </div>
            <div class="col-lg-8">
              <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/NiRIbKwAejk?si=aVXDKGhjpyTntmSI" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="row">
  <div id="home-about-section">
    <div class="p-5 text-center">
      <div class="container py-5 shadow">
        <h1 class="text-body-emphasis">Radio T&eacute;l&eacute; Patriarche</h1>
        <p class="col-lg-8 mx-auto lead">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
        <p class="col-lg-8 mx-auto lead">
          Occaecat ut excepteur ea occaecat. Proident occaecat velit magna velit nulla aliqua eiusmod cillum sit do exercitation. Eiusmod nulla sunt nisi exercitation et laborum et sint ut laborum ipsum non.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <div class="col">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag("emission.jpg", alt: "emission", class: "d-block w-100") %>
        </div>
        <div class="carousel-item">
          <%= image_tag("emission2.jpg", alt: "emission", class: "d-block w-100") %>
        </div>
        <div class="carousel-item">
          <%= image_tag("emission.jpg", alt: "emission", class: "d-block w-100") %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </section>
  </div>
</section>
</div>
