
<div class="container-fluid">
  <div class="row-fluid">

<div class="hero-unit bg-image" id="splash-section" style=" background-color: orange; background-image: url(<%= image_path "splash.webp"%>);
    height: 100vh; background-repeat: no-repeat; background-position: center center; background-size: cover; background-blend-mode: multiply;">
  <h1>Radio T&eacute;l&eacute; Patriarche</h1>
  <p>Tagline</p>
  <p>
    <a class="btn btn-primary btn-large">
      Nos emissions
    </a>
  </p>
</div>
</div>
</div>

