<h1>Editing emission content</h1>

<%= render "form", emission_content: @emission_content %>

<br>

<div>
  <%= link_to "Show this emission content", @emission_content %> |
  <%= link_to "Back to emission contents", emission_contents_path %>
</div>
