body:has(#contact-page) {
  min-height: 100dvh;
  background-color: $caribbean-current;
  color: $snow;
}

#contact-page {
  h1 {
    background: -webkit-linear-gradient(#0a122aff, #fbf5f3ff, #156064ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  form {
    background: $gradient-top-left;

    label {
      color: $caribbean-current;
      font-size: 1.2rem;
    }
  }
}