body:has(#emissions-page) {
  background: $gradient-top-left;
}

#emissions-page {
  min-height: 100dvh;
  width: 100%;

  h1 {
    color: $snow;
    margin-top: 5vh;
  }

  // .card {
  //   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // }
  .card-body {
    background: #eee;
    border: 10px solid #fff;
  }

  .card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}