.home-section {
  height: 100vh;
}

#home-hero {
  .row {
    height: 100%;
    border: 2px dashed blue;

    .button-89 {
      color: $snow;
    }

    .button-89:hover,
    .button-89:focus-visible {
      outline-color: $snow;
      outline-offset: .06em;
    }
  }
}