/* stylelint-disable no-missing-end-of-source-newline */
body:has(#home-hero) {
  background-color: $caribbean-current;

  section.home-sections {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
  }

  .divider-b {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    width: 100%;
    margin-bottom: 4rem;
  }

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }

  /* RESPONSIVE CSS
-------------------------------------------------- */

  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  #home-about {
    .shadow {
      box-shadow:
        0 1px 5px hsla(0, 0%, 0%, 0.25),
        inset 0 0 50px hsla(0, 0%, 0%, 0.05);
      position: relative;
    }

    .content {
      width: 70%;
      margin: 0 auto;
    }

    .shadow::after,
    .shadow::before {
      bottom: 7px;
      box-shadow: 0 10px 15px hsla(0, 0%, 0%, 0.25);
      content: '';
      height: 50%;
      left: 7px;
      max-width: 300px;
      position: absolute;
      right: 7px;
      z-index: -1;
      -webkit-transform: skew(-15deg) rotate(-8deg);
      -moz-transform: skew(-15deg) rotate(-6deg);
      -ms-transform: skew(-15deg) rotate(-6deg);
      -o-transform: skew(-15deg) rotate(-6deg);
      transform: skew(-15deg) rotate(-6deg);
    }

    .shadow::after {
      -webkit-transform: skew(15deg) rotate(8deg);
      -moz-transform: skew(15deg) rotate(6deg);
      -ms-transform: skew(15deg) rotate(6deg);
      -o-transform: skew(15deg) rotate(6deg);
      transform: skew(15deg) rotate(6deg);
    }
  }

  #home-hero {
    // align-items: flex-start;

    .row {
      // width: 100%;
      // height: 100%;
      // border: 2px dashed blue;

      .button-89 {
        color: $snow;
      }

      h1 {
        font-size: 1.5rem;
        background: -webkit-linear-gradient(rgb(245, 209, 4), #fbf5f3ff, rgb(243, 167, 3));
        /* stylelint-disable */
        background-clip: text;
        /* stylelint-enable */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .lead {
        font-size: 3.5rem;
        font-weight: bold;
        background: -webkit-linear-gradient(rgb(145, 123, 2), rgb(253, 251, 250), rgb(243, 167, 3));
        /* stylelint-disable */
        background-clip: text;
        /* stylelint-enable */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .button-89:hover,
      .button-89:focus-visible {
        outline-color: $snow;
        outline-offset: 0.06em;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }

  #home-direct {
    background-color: $snow;
    color: $oxford-blue;
  }
}