

.gap {
  margin-bottom: 50px;
}

.big-gap {
  margin-bottom: 100px;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.row > div {
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  color: #34495e;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}

.btn {
  font-weight: 400;
  border: 0;
}

.btn.btn-primary {
  background-color: #52b6ec;
}

.btn.btn-primary:hover,
.btn.btn-primary.active {
  background-color: #1586c3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #80c9f1;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

body > section {
  padding: 50px 0;
}

#title h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
}

.center {
  text-align: center;
}

#meet-the-team .designation {
  margin-top: 5px;
  display: block;
  font-size: 13px;
}

.img-thumbnail {
  border: 0;
}

.btn-social {
  border: 0;
  color: #fff;
  border-radius: 100%;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
}

.btn-social.btn-facebook {
  background: #4f7dd4;
}

.btn-social.btn-facebook:hover {
  background: #789bde;
}

.btn-social.btn-twitter {
  background: #5bceff;
}

.btn-social.btn-twitter:hover {
  background: #8eddff;
}

.btn-social.btn-linkedin {
  background: #21a6d8;
}

.btn-social.btn-linkedin:hover {
  background: #49b9e3;
}

.btn-social.btn-instagram {
  background: #dc422b;
}

.btn-social.btn-instagram:hover {
  background: #e36957;
}

.btn-social:hover {
  color: #fff;
}
