/* Coolors Exported Palette - https://coolors.co/ffa500-682b00-0a122a-fbf5f3-156064 */

/* CSS HEX */
--orange-web: #ffa500ff;
--seal-brown: #682b00ff;
--oxford-blue: #0a122aff;
--snow: #fbf5f3ff;
--caribbean-current: #156064ff;

/* CSS HSL */
// --orange-web: hsla(39, 100%, 50%, 1);
// --seal-brown: hsla(25, 100%, 20%, 1);
// --oxford-blue: hsla(225, 62%, 10%, 1);
// --snow: hsla(15, 50%, 97%, 1);
// --caribbean-current: hsla(183, 65%, 24%, 1);

/* SCSS HEX */
$orange-web: #ffa500ff;
$seal-brown: #682b00ff;
$oxford-blue: #0a122aff;
$snow: #fbf5f3ff;
$caribbean-current: #156064ff;

/* SCSS HSL */
$orange-web: hsla(39, 100%, 50%, 1);
$seal-brown: hsla(25, 100%, 20%, 1);
$oxford-blue: hsla(225, 62%, 10%, 1);
$snow: hsla(15, 50%, 97%, 1);
$caribbean-current: hsla(183, 65%, 24%, 1);

/* SCSS RGB */
$orange-web: rgba(255, 165, 0, 1);
$seal-brown: rgba(104, 43, 0, 1);
$oxford-blue: rgba(10, 18, 42, 1);
$snow: rgba(251, 245, 243, 1);
$caribbean-current: rgba(21, 96, 100, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ffa500ff, #682b00ff, #0a122aff, #fbf5f3ff, #156064ff);
$gradient-right: linear-gradient(90deg, #ffa500ff, #682b00ff, #0a122aff, #fbf5f3ff, #156064ff);
$gradient-bottom: linear-gradient(180deg, #ffa500ff, #682b00ff, #0a122aff, #fbf5f3ff, #156064ff);
$gradient-left: linear-gradient(270deg, #ffa500ff, #682b00ff, #0a122aff, #fbf5f3ff, #156064ff);
$gradient-top-right: linear-gradient(45deg, #ffa500ff, #682b00ff, #0a122aff, #fbf5f3ff, #156064ff);
$gradient-bottom-right: linear-gradient(135deg, #ffa500ff, #682b00ff, #0a122aff, #fbf5f3ff, #156064ff);
$gradient-top-left: linear-gradient(225deg, #ffa500ff, #682b00ff, #0a122aff, #fbf5f3ff, #156064ff);
$gradient-bottom-left: linear-gradient(315deg, #ffa500ff, #682b00ff, #0a122aff, #fbf5f3ff, #156064ff);
$gradient-radial: radial-gradient(#ffa500ff, #682b00ff, #0a122aff, #fbf5f3ff, #156064ff);
