.posted-article {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 2rem;

  h1,
  h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
  }

  h1 {
    letter-spacing: 0.2rem;
    font-weight: 700;
    line-height: 1.7rem;
  }

  h2 {
    letter-spacing: 0.1rem;
    font-weight: 400;
    line-height: 1.4rem;
  }

  figure {
    width: 100%;
    padding: 3rem;

    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      font-size: 0.7rem;
      color: rgb(67, 70, 69);
      text-align: center;
      width: 100%;
    }
  }

  p {
    color: rgb(27, 26, 26);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2rem;
  }
}
