#public-footer{
  background: rgb(255,165,0);
  background: linear-gradient(180deg, rgba(255,165,0,1) 36%, rgba(104,43,0,1) 100%);
  color: white;
  .d-flex{
    width:100%;
    border-radius: 30% 70% 27% 73% / 98% 2% 98% 2% ;
    padding: 1.5rem 2.5rem;
    background-color: #fe8302;
    img{
      width: 100%;
      height: auto;
    }
  }
}