#navigation{
  padding-bottom: 2rem;
  background: rgba(104,43,0,1) ;
  background: linear-gradient(0deg, rgba(104,43,0,1) 50%, rgba(255,165,0,1) 100%);
  .navbar-brand{
a{
  margin-right: 2rem ;}
  }
}