// * Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */ 
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: $snow;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: $oxford-blue;
  color: $orange-web;
}

.facebook {
  background: #1877f2;
  color: $snow;
}

.twitter {
  background: #1da1f2;
  color: $snow;
}

.instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: $snow;
}

.linkedin {
  background: #0072b1;
  color: $snow;
}

.youtube {
  background: #ff0000;
  color: $snow;
}

.instagram :hover {
  background: $oxford-blue;
  background: radial-gradient(circle at 30% 107%, $oxford-blue 0%, $oxford-blue 5%, $oxford-blue 45%, $oxford-blue 60%, $oxford-blue 90%);
  color: $orange-web;
}